body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    color: white;
}

.box {
    padding: 25px;
    width: 350px;
    min-height: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.box input,
.box select {
    outline: none;
    padding: 10px;
    background: none;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
    color: white;
    transition: 150ms ease-in-out;
}

.box input:focus {
    border: 1px solid #616161;
}

.box input.submit {
    color: white;
    margin-top: auto;
    cursor: pointer;
}

.box input.submit:hover {
    background: #0f0f0f;
}

.box select option {
    background-color: black;
}
