body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow-y: hidden;
    color: white;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

.box-form h1 {
    text-align: center;
}
.box-form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 350px;
    min-height: 120px;
    height: auto;
    gap: 17px;
}

.box-form input,
.box-form select {
    outline: none;
    padding: 10px;
    background: none;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
    color: white;
    transition: 150ms ease-in-out;
}

.box-form input:focus {
    border: 1px solid #616161;
}

.box-form input.submit {
    color: white;
    margin-top: auto;
    cursor: pointer;
}

.box-form input.submit:hover {
    background: #0f0f0f;
}

.box-form select option {
    background-color: black;
}
