* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100vh;
}

.container {
  padding: 15px;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
select,
textarea,
div,
span {
  color: white;
}

tr,
td,
th {
  color: white;
}